<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>

    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            $("p.location").replaceWith("Geolocation is not supported by this browser.");
        }

        function showPosition(position) {
            console.log(position);
            $("p.location").replaceWith("Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude + '<br>');
            //            $.ajax({
            //                url: "/position"
            //                , type: "POST"
            //                , data: {position}
            //                , contentType: "application/json"
            //            });
            //    $.post("/position", {position}, function(data){
            //        console.log(data);
            //        console.log(position);
            //        
            //    });

            var dataPassing = JSON.stringify(position);
            $.ajax({
                type: 'POST'
                , data: dataPassing
                , contentType: 'application/json'
                , url: '/position'
                , success: function (){}
                , datatype: "json"
            });
        }
    </script>
</head>

<body>
    <!--<div class="container-fluid">-->
    <!--    <h1 class="warm">warm</h1></div>-->
    <p class="inner">Data goes here.</p>
    <p class="location">Please enable location data.</p>
    <button id="current">Request Current Data</button>
    <button id="old">Request Old Data</button>
    <!--
    <div class="container-fluid">
    <h1 class="same">same</h1></div>
    <div class="container-fluid">
    <h1 class="cold">cold</h1></div>
    -->
</body>
<!-- Ajax event handling-->
<script>
    $('#current').click(function () {
        $.get('/current', {}, function (data) {
            $("p.inner").replaceWith('<pre>' + data + '</pre>')
        });
    });
    $('#old').click(function () {
        $.get('/old', {}, function (data) {
            $("p.inner").replaceWith('<pre>' + data + '</pre>')
        });
    });
</script>

</html>