<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="/test/wp-content/themes/child/script/jquery.jcarousel.min.js"></script>
</head>
<!--<body>-->
    <div class="warm">warm</div>
    <div class="same">same</div>
    <div class="cold">cold</div>
<!--</body>-->
</html>